<div class="container-fluid">

  <!-- <span style="text-align:center" class="navbar-text mx-3">
        <img [src]="ASSETS_BASE + 'images/seminario-logo.png'" />
      </span> -->

  <br>
  <h6 translate>LOGIN</h6>
  <br>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <div class="form-group" [class.has-danger]="formErrors.userid">
          <!-- <label class="text-uppercase" for="title" translate>LABELS.STEPS.TITLE</label> -->
          <label class="text-uppercase" for="userid" translate>UserID</label>
          <input type="text" class="form-control" formControlName="userid" [class.form-control-danger]="formErrors.userid" id=userid
            placeholder="Userid">
          <!-- <input type="text" class="form-control" formControlName="title" [class.form-control-danger]="formErrors.title" id="title"
                  placeholder="{{'PLACEHOLDERS.TITLE' | translate}}" value={{step.title}}> -->
          <div class="form-control-feedback">{{formErrors.userid}}</div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <div class="form-group" [class.has-danger]="formErrors.password">
          <!-- <label class="text-uppercase" for="description" translate>LABELS.STEPS.description</label> -->
          <label class="text-uppercase" for="password" translate>Password</label>

          <input type="password" class="form-control" formControlName="password" [class.form-control-danger]="formErrors.password"
            id=password placeholder="Password">
          <div class="form-control-feedback">{{formErrors.password}}</div>
          <!-- <textarea class="form-control" formControlName="description" [class.form-control-danger]="formErrors.description" id="description"
                  placeholder="{{'PLACEHOLDERS.description' | translate}}" value={{step.description}}></textarea>
                <div class="form-control-feedback">{{formErrors.description}}</div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12 d-flex justify-content-end">

        <button class="btn btn-darkblue btn-forms-appid rounded-0 mt-4 btn-width" [disabled]="!loginForm.valid" type="submit">
          Login
        </button>
      </div>
    </div>

  </form>
</div>

<div class="footer">
  <p>ARISTOMED copyright</p>
</div>
