<div class="container-fluid mt-4">
  <div class="row">
    <h6 translate>Please Login</h6>
  </div>
  <form>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <div class="form-group">
          <label class="text-uppercase-bold" for="userid" translate>UserID</label>
          <input class="form-control" id="userid" placeholder="Userid" type="text">
          <div class="form-control-feedback">
            {{formErrors.userid}}
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <div class="form-group">
          <label class="text-uppercase-bold" for="password" translate>Password</label>
          <input class="form-control" id="password" placeholder="Password" type="password">
          <div class="form-control-feedback">
            {{formErrors.password}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-darkblue btn-forms-appid rounded-0 mt-4 btn-width" type="submit">Login</button>
      </div>
    </div>
  </form>
</div>
