<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Please Login</h1>
        <label>UserID
          <div class="alert" *ngIf="!rForm.controls['userid'].valid && rForm.controls['userid'].touched">{{ requiredAlert }}</div>
          <input type="text" formControlName="userid">
        </label>

        <label>Password
          <!--<div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify a description that's between 30 and 500 characters.</div>-->
          <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">{{ requiredAlert }}</div>
          <input type="text" formControlName="password">
          <!-- <textarea formControlName="description"></textarea>-->
        </label>

        <!--<label for="validate">Minimum of 3 Characters</label>
        <input type="checkbox" name="validate" formControlName="validate" value="1"> On
        -->
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<!--<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ name }}</h1>

      <p>{{ description }}</p>
    </div>
  </div>
</ng-template>-->
