<div class="container-fluid mt-4 genericDiv">

  <div class="row">
    <h6 translate>Insert the Responsible Person(s)</h6>
  </div>
  <form [formGroup]="respsForm">
    <div formArrayName="resps">
      <div *ngFor="let resp of respsForm.controls.resps.controls;let i=index" [formGroupName]="i">
        <div class="row">
          <label class="label label-default">Resp. Person #{{i+1}}</label>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-6">
            <div class="form-group" [class.has-danger]="formErrors['name'+i]">
              <label class="text-uppercase-bold" for="name" translate>Name</label>
              <!-- <input type="text" class="form-control" formControlName="name" [class.form-control-danger]="formErrors['name'+i]" id=name{{i}}
                placeholder="Name" value={{resp.name}}> -->
              <input type="text" class="form-control" formControlName="name" [class.form-control-danger]="formErrors['name'+i]" id=name{{i}}
                placeholder="Name">
              <div class="form-control-feedback">{{formErrors['name'+i]}}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-6">
            <div class="form-group" [class.has-danger]="formErrors['position'+i]">
              <label class="text-uppercase-bold" for="position" translate>Position</label>
              <!-- <input type="text" class="form-control" formControlName="position" [class.form-control-danger]="formErrors['position'+i]"
                id=position{{i}} placeholder="Position (this is FUNDAMENTAL)" value={{resp.position}}> -->
              <input type="text" class="form-control" formControlName="position" [class.form-control-danger]="formErrors['position'+i]"
                id=position{{i}} placeholder="Position (this is FUNDAMENTAL)">
              <div class="form-control-feedback">{{formErrors['position'+i]}}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-6">
            <div class="form-group" [class.has-danger]="formErrors['telCode'+i]">
              <label class="text-uppercase-bold" for="telCode" translate>Tel Code</label>
              <!-- <input type="text" class="form-control" formControlName="telCode" [class.form-control-danger]="formErrors['telCode'+i]"
                id=telCode{{i}} placeholder="Tel Code (please leave it blank)" value={{resp.telCode}}> -->
              <input type="text" class="form-control" formControlName="telCode" [class.form-control-danger]="formErrors['telCode'+i]" id=telCode{{i}}
                placeholder="Tel Code (please leave it blank)">
              <div class="form-control-feedback">{{formErrors['telCode'+i]}}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-6">
            <div class="form-group" [class.has-danger]="formErrors['emailCode'+i]">
              <label class="text-uppercase-bold" for="emailCode" translate>Email Code</label>
              <!-- <input type="text" class="form-control" formControlName="emailCode" [class.form-control-danger]="formErrors['emailCode'+i]"
                id=emailCode{{i}} placeholder="Email Code (please leave it blank)" value={{resp.emailCode}}> -->
              <input type="text" class="form-control" formControlName="emailCode" [class.form-control-danger]="formErrors['emailCode'+i]"
                id=emailCode{{i}} placeholder="Email Code (please leave it blank)">
              <div class="form-control-feedback">{{formErrors['emailCode'+i]}}</div>
            </div>
          </div>
          <button class="btn buttonRemove" (click)="onRemoveResp(i)" type="submit">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </div>


      <div class="row">
        <button class="btn buttonAdd" (click)="onAddResp()" type="submit">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="row small-title">
      <h6 translate>Insert the Concerned Person(s)</h6>
    </div>
    <div formArrayName="concs">
      <div *ngFor="let conc of respsForm.controls.concs.controls;let i=index" [formGroupName]="i">

        <div class="row">
          <label class="label label-default">Conc. Person #{{i+1}}</label>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-6">
            <div class="form-group" [class.has-danger]="formErrors['nameC'+i]">
              <label class="text-uppercase-bold" for="name" translate>Name</label>
              <!-- <input type="text" class="form-control" formControlName="name" [class.form-control-danger]="formErrors['nameC'+i]" id=name{{i}}
                placeholder="Name" value={{conc.name}}> -->
              <input type="text" class="form-control" formControlName="name" [class.form-control-danger]="formErrors['nameC'+i]" id=name{{i}}
                placeholder="Name">
              <div class="form-control-feedback">{{formErrors['nameC'+i]}}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-6">
            <div class="form-group" [class.has-danger]="formErrors['positionC'+i]">
              <label class="text-uppercase-bold" for="position" translate>Position</label>
              <!-- <input type="text" class="form-control" formControlName="position" [class.form-control-danger]="formErrors['positionC'+i]"
                id=position{{i}} placeholder="Position (this is FUNDAMENTAL)" value={{conc.position}}> -->
              <input type="text" class="form-control" formControlName="position" [class.form-control-danger]="formErrors['positionC'+i]"
                id=position{{i}} placeholder="Position (this is FUNDAMENTAL)">
              <div class="form-control-feedback">{{formErrors['positionC'+i]}}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-6">
            <div class="form-group" [class.has-danger]="formErrors['telCodeC'+i]">
              <label class="text-uppercase-bold" for="telCode" translate>Tel Code</label>
              <!-- <input type="text" class="form-control" formControlName="telCode" [class.form-control-danger]="formErrors['tel_codeC'+i]"
                id=telCode{{i}} placeholder=" Tel Code (please leave it blank)" value={{conc.telCode}}> -->
              <input type="text" class="form-control" formControlName="telCode" [class.form-control-danger]="formErrors['telCodeC'+i]"
                id=telCode{{i}} placeholder=" Tel Code (please leave it blank)">
              <div class="form-control-feedback ">{{formErrors['telcodeC'+i]}}</div>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-6 ">
            <div class="form-group " [class.has-danger]="formErrors['emailCodeC'+i]">
              <label class="text-uppercase-bold " for="emailCode" translate>Email Code</label>
              <!-- <input type="text " class="form-control " formControlName="emailCode" [class.form-control-danger]="formErrors['email_codeC'+i]"
                id=emailCode{{i}} placeholder="Email Code (please leave it blank)" value={{conc.emailCode}}> -->
              <input type="text " class="form-control " formControlName="emailCode" [class.form-control-danger]="formErrors['emailCodeC'+i]"
                id=emailCode{{i}} placeholder="Email Code (please leave it blank)">
              <div class="form-control-feedback ">{{formErrors['emailcodeC'+i]}}</div>
            </div>
          </div>

          <button class="btn buttonRemove " (click)="onRemoveConc(i) " type="submit ">
            <i class="fa fa-times " aria-hidden="true "></i>
          </button>
        </div>
      </div>
      <div class="row ">
        <button class="btn buttonAdd " (click)="onAddConc() " type="submit ">
          <i class="fa fa-plus " aria-hidden="true "></i>
        </button>
      </div>


      <div class="row ">
        <div class="col-12 d-flex justify-content-end ">
          <button class="btn btn-darkblue btn-forms-appid rounded-0 mt-4 btn-width " (click)="onBackSteps() ">
            <span translate>BACK</span>
          </button>

          <button class="btn btn-darkblue btn-forms-appid rounded-0 mt-4 btn-width " [disabled]="!respsForm.valid
              " (click)="onNextFooter() ">
            <span translate>NEXT</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
