<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="login(rForm.value)">
    <div class="form-container">
      <h1>Please fill in the SOP Steps</h1>
      <div *ngFor="let step of steps" class="row columns">

        <label>Title
          <div class="alert" *ngIf="!rForm.controls['title'].valid && rForm.controls['title'].touched">{{ requiredAlert }}</div>
          <!-- <input type="text" [(ngModel)]="step.title" formControlName="title"> -->
          <input type="text" value={{step.title}} formControlName="title">
        </label>

        <label>Description
          <!--<div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify a description that's between 30 and 500 characters.</div>-->
          <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">{{ requiredAlert }}</div>
          <!-- <input type="text" [(ngModel)]="step.description" formControlName="description"> -->
          <!-- <input type="text" value={{step.description}} formControlName="description"> -->
          <textarea value={{step.description}} formControlName="description"></textarea>
        </label>

      </div>
      <!--<label for="validate">Minimum of 3 Characters</label>
        <input type="checkbox" name="validate" formControlName="validate" value="1"> On
        -->

    </div>

    <button class="btn btn-darkblue btn-forms-appid rounded-0 mt-4 btn-width" (click)="onNextResponsibles()" [disabled]="!rForm.valid" type="submit" class="btn btn-primary">
      Next
    </button>
    
    <!-- <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid"> -->
  </form>
</div>

<!--<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ name }}</h1>

      <p>{{ description }}</p>
    </div>
  </div>
</ng-template>-->


<!-- <div class="container">
  <h1>Add New Sop</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveSop()" #sopForm="ngForm">
        <div class="form-group">
          <label for="name">ISBN</label>
          <input type="text" class="form-control" [(ngModel)]="sop.isbn" name="isbn" required>
        </div>
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" [(ngModel)]="sop.title" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Author</label>
          <input type="text" class="form-control" [(ngModel)]="sop.author" name="author" required>
        </div>
        <div class="form-group">
          <label for="name">Published Year</label>
          <input type="number" class="form-control" [(ngModel)]="sop.published_year" name="published_year" required>
        </div>
        <div class="form-group">
          <label for="name">Publisher</label>
          <input type="text" class="form-control" [(ngModel)]="sop.publisher" name="publisher" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!sopForm.form.valid">Save</button>
        </div>

        <div class="form-group">
          <button class="btn btn-success" (click)="onClickCreatePdf()">Create PDF</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
