<div class="container-fluid mt-4 paddingDiv genericDiv">

  <div class="row paddingDiv genericDiv" style="width:40%;">
    <p>Clicking on 'create pdf', the created <b>PDF</b> will be opened in a new browser window. <br>
      <b>Please, allow this site to show pop-ups</b></p> 
  </div>

    <div class="row">
      <img class="img-responsive centerImage" src="assets/images/printer.png" width="180" height="180">
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-darkblue btn-forms-appid rounded-0 mt-4 btn-width" (click)="onBack()">
            <span translate>BACK</span>
          </button>
          <button class="btn btn-darkblue btn-forms-appid rounded-0 mt-4 btn-width" (click)="onCreatePdf()">
            <span translate>CREATE PDF</span>
          </button>
        </div>
      </div>
</div>




